<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>oboqbgpbztg@tznvy.pbz</string>
	<key>contactName</key>
	<string>BobDotCom</string>
	<key>description</key>
	<string>Nasal
</string>
	<key>name</key>
	<string>Nasal</string>
	<key>uuid</key>
	<string>87644E2F-36B4-4B5D-A019-094BA50331C0</string>
</dict>
</plist>
